{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title>Register</title>
{% endblock %}
{% block content %}
<div style="text-align:center;margin:20px;">
  <img width="300px" height="auto" src="{% static 'images/logo.png' %}"alt="logo">
  <h2>Register</h2>
</div>
<form method="post" style="text-align:center;margin:0 auto;width:600px">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Register</button>
  <div class="text-center">
    <p>Already a member? <a href="{% url 'login' %}">Login</a></p>
  </div>
</form>
{% endblock %}